<component name="libraryTable">
  <library name="spring_course">
    <CLASSES>
      <root url="file://$PROJECT_DIR$" />
      <root url="jar://$PROJECT_DIR$/../demo/aspectjweaver-1.9.7.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="file://$PROJECT_DIR$/src/main/java" />
      <root url="file://$PROJECT_DIR$/src/test/java" />
    </SOURCES>
  </library>
</component>